/* all elements rule */

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* generic rules */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.white-back {
  background-color: white;
}

.white-font {
  color: white;
}

/* page specific rules */

body {
  width: 798px;
  margin: auto;
  background-image: url(../img/background.jpg);
  font-family: 'Roboto', sans-serif;
}

header {
  height: 200px;
  border: 10px solid white;
  margin-top: 5px;
  background-image: url(../img/header-background.jpg);
  position: relative;
}

header p {
  margin-top: 15px;
  font-size: 20px;
}

nav {
  height: 25px;
  background-color: grey;
}

nav li {

  /* using float left to avoid spaces between <li> elements */
  float: left;

  display: inline-block;
  width: 114px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);

  /* centering text both horizontally and vertically */
  text-align: center;
  line-height: 25px;

  cursor: pointer;
}

nav li:hover {
  background-color: lightgrey;
  color: white;
}

main {
  margin-top: 5px;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.lateral-col {
  float: left;
  width: 20%;
}

#center-col {
  float: left;
  width: 52%;
  margin-left: 4%;
  margin-right: 4%;
}

.text-widget {
  margin-top: 15px;
}

footer {
  height: 75px;
  margin-bottom: 5px;
}
