/* all elements rule */

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* generic rules */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.white-back {
  background-color: white;
}

.green-font {
  color: green;
}

.white-font {
  color: white;
}

/* page specific rules */

body {
  width: 798px;
  margin: auto;
  background-image: url(../img/background.jpg);
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 200px;
  border: 10px solid white;
  margin-top: 14px;
  background-image: url(../img/header-background.jpg);
}

header p {
  margin-top: 15px;
  font-size: 20px;
}

nav {
  height: 25px;
  background-color: grey;
}

nav li {

  /* using float left to avoid spaces between <li> elements */
  float: left;

  display: inline-block;
  width: 114px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);

  /* centering text both horizontally and vertically */
  text-align: center;
  line-height: 25px;

  cursor: pointer;
}

nav li:hover {
  background-color: lightgrey;
  color: white;
}

main {
  margin-top: 14px;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

main p {
  width: 70%;
  margin: 20px auto;
  font-size: 14px;
}

.lateral-col {
  position: relative;
  float: left;
  width: 25%;
}

.lateral-col > h2 {
  width: 50%;
  margin: 20px auto;
}

#feed-icon {
  position: absolute;
  top: 35px;
  left: 10px;
}

#center-col {
  float: left;
  width: 42%;
  margin-left: 4%;
  margin-right: 4%;
}

#center-col > h1 {
  width: 60%;
  margin: 20px auto;
  font-size: 23px;
  text-shadow: 1px 2px rgb(198, 198, 198);
}

.text-widget {
  margin-bottom: 14px;

  /* used to avoid margins collapse between text-widget and its children */
  overflow: hidden;
}

.text-widget > h2 {
  width: 70%;
  margin: 20px auto;
}

footer {
  height: 75px;
  margin-bottom: 14px;
}
